name: Release Drafter

on:
  pull_request:
    branches: [ "main" ]


permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6.0.0
        with:
          config-name: release-note.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}